body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add__form input{
  height: 30px;
}
button{
  font-size: 12px !important;
  height: 30px !important;
}
@media screen and (max-width:414px) {
  .add__form{
    flex-direction: column;
  }
  .add__form input{
    margin: 0 0 20px 0;
  }
  .add__form button{
    width: 150px;
  }
  .contact__item{
    padding: 10px 5px;
    flex-wrap: wrap;
  }
  .contact__item p {
    min-width: 165px;
    text-align: center;
    }
  .contact__item button{
    padding-left: 20px;
    width: 120px;
    background-position-x: 4mm;
    align-items: center;
  }
}
.contact__item p {
  margin-bottom: 30px;
}